@model IEnumerable<GameStore.Models.Product>

@{
    ViewData["Title"] = "Усі товари";
}

<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <a asp-action="Create" class="btn btn-outline-dark btn-lg">Додати новий</a>
    </div>
    <table class="table table-striped table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Назва</th>
                <th>Ціна</th>
                <th>Реліз</th>
                <th>Розробник</th>
                <th>Жанр</th>
                <th>Платформи</th>
                <th>Зображення (URL)</th>
                <th>Обкладинка (URL)</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.ReleaseDate.ToShortDateString()</td>
                    <td>@item.Developer</td>
                    <td>@item.Genre?.Name</td>
                    <td>
                        @{
                            var platforms = string.IsNullOrEmpty(item.PlatformsSerialized)
                            ? new List<GameStore.Models.Platform>()
                            : System.Text.Json.JsonSerializer.Deserialize<List<GameStore.Models.Platform>>(item.PlatformsSerialized);
                        }
                        @string.Join(", ", platforms)
                    </td>
                    <td><a href="@item.ImageUrl" target="_blank">Посилання на картинку</a></td>
                    <td><a href="@item.CoverImageUrl" target="_blank">Посилання на обкладинку</a></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">✏️</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">ℹ️</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">🗑️</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
