@model List<Product>

@{
    ViewData["Title"] = "Каталог ігор";
    ViewData["Message"] = "Найкращі відеоігри саме для вас!";
}

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var product in Model)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Title">
                    <div class="card-body p-1">
                        <div class="text-center" style="margin-top:15px">
                            <h5 class="fw-bolder">@product.Title</h5>
                            <p class="text-muted small mb-1">Жанр: @product.Genre?.Name</p>
                            <p class="text-success">@(string.Join(", ", product.Platforms.Select(p => p.ToString())))</p>
                            <p class="fw-bold small">Ціна: $@product.Price</p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="Catalog" asp-action="Details" asp-route-id="@product.Id">Детальніше</a></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>